body{
    background-color: honeydew;
}
#title{
    font-size: 43px;
    margin-top: 10px;
}
a{
    text-decoration-line: no-underline;
    color: #ffffff;
    float: right;
}
.header{
    margin-top: 0px;
    background-color: red;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 7%;
    padding-right: 7%;
    color: #ffffff;
}
.back{
    background-color: #ffffff;
    width: 95%;
    margin: auto;
    font-size:20px;
}
.input-name{
    width: 90%;
}
.input-name:first-child{
    width: 70%;
}
.submit{
    background-color: red;
    width: 90%;
    margin: auto;
    padding: 0px;
}
.sub{
    background-color: red;
    width: 100%;
    border: 0;
    font-weight: bold;
    font-size: 300%;
    padding: 3%;
}
.back1{
    margin-top: 20px;
    padding-top: 2%;
}
.back2{
    margin-top: 20px;
    padding: 0px;
}
.dis-boder{
    border: hidden;

    width: 100%;
    padding: 4%;
    height: 100%;
}

.id-car1{
    width: 19%;
}
.id-car2{
    width: 80%;
}

#uploadFile{
    max-width: 85%;
    width: 70%;
    border: hidden;
    background-color: #ffffff;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 90;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#co{
    background-color: red;
    color: #ffffff;
    float: right;
    margin-top: -1%;
    margin-bottom: 1%;
}
